$primary-color: #3498db;
$secondary-color: #2ecc71;
$danger-color: #e74c3c;
$background-color: #f8f9fa;
$text-color: #333;
$border-radius: 5px;
$box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
$dark-black: #22262A;
$light-black: #262626;
$dark-blue: #223263;
$light-blue: #40BFFF;
$pink: #FB7181;
$grey: #9098B1;
$section-bg-gray: #F6F7F8;
$section-bg-blue: #BCDDFE;
$btn-bg-blue: #33A0FF;